<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <title>Love in my Tummy Sweets</title>
</head>

<body>
  <nav>
    <a href="/">Home Page</a>
    <a href="/products">Products Page</a>
    <a href="/order">Custom Order Form</a>
    <a href="/login">Login Page (Admin Only)</a>
    <a href="/admin">Admin Page</a>
  </nav>

  {{{body}}}
</body>

</html>
