<!DOCTYPE html>

<html>

<head>
  <title>Love in My Tummy Artisan Sweets | Handmade in Small Batches for Amazing Quality!</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Josefin+Sans:100,300,400,700" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css" media="screen,projection" />

  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="row valign-wrapper contactBar">
      <div class="container">
        <div class="col s6">
          <div>

            {{#if user}}
            <h6 class="left-align">Logged in as: {{user.username}} <a href="/logout">Logout</a></h6>
            {{else}}
            <h6 class="left-align">info@loveinmytummy.ca</h6>
            {{/if}}

          </div>
        </div>
        <div class="col s6">
          <div class="right-align">
            <a href="https://www.facebook.com/limtbaking/" target="_blank"><img class="responsive-img icon" src="/images/fbLogo.png"></a>
            <a href="https://twitter.com/lovetummysweets" target="_blank"><img class="responsive-img icon" src="/images/twitterLogo.png"></a>
            <a href="https://www.instagram.com/loveinmytummysweets/" target="_blank"><img class="responsive-img icon"
                src="/images/instaLogo.png"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row valign-wrapper">
      </div>
      <div class="row">
        <img class="responsive-img" src="/images/limtLogo.png">
        <h1 class="mainTitle center-align">Love in My Tummy</h1>
      </div>
      <nav class="nav-center" role="navigation">
        <div class="nav-wrapper container">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/order">ORDER</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  {{{body}}}

  <div class="contactBox">
    <h1 class="title">Contact us today</h1>

    <div class="container">
      <div class="row">

        <form target="_blank" id="contact-form" name="contact-form" action="mail.php" method="POST">

          <div class="row">

            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>

            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>

            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>

            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea validate"></textarea>
              <label for="message">Message</label>
            </div>

          </div>

          <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>

  <div class="contactPoints">
    <h1 class="title">Contact Points</h1>
    <br>
    <div class="contactBubble">
      <h2>[T] 647.693.2766</h2>

      <div class="chip">
        <img src="images/emailCircle.png" alt="Email Link">
        <a href="mailto:info@loveinmytummy.ca">info@loveinmytummy.ca</a>
      </div>
      <div class="chip">
        <img src="images/facebookCircle.png" alt="Facebook Link">
        <a href="https://www.facebook.com/limtbaking/" target="_blank">@limtbaking</a>
      </div>
      <div class="chip">
        <img src="images/twitterCircle.png" alt="Twitter Link">
        <a href="https://twitter.com/lovetummysweets" target="_blank">@lovetummysweets</a>
      </div>
      <div class="chip">
        <img src="images/instagramCircle.png" alt="Instagram Link">
        <a href="https://www.instagram.com/loveinmytummysweets/" target="_blank">@lovetummysweets</a>
      </div>
      <br><br>
    </div>

  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6 offset-s3">
          <h6 class="subtitle">WARNING: NUT ALLERGY | All products may contain, or have come in contact with a variety
            of
            nuts, including but not limited to, hazelnuts, pecans, pistachios, peanuts, walnuts & almonds.</h6>
        </div>
        <hr>
        <h6 class="subtitle">© 2018 - Love in My Tummy Artisan Sweets</h6>
        <br>
        <h6><a href="/login">Admin Login</a></h6>
      </div>
    </div>
  </footer>
  <script src="https://snapwidget.com/js/snapwidget.js"></script>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>