<p>This is the secret page that you shouldn't be able to see if you aren't logged in.</p>

<p>Here's some top-secret information about you:</p>

<p>
    id: {{user.id}}<br>
    username: {{user.username}}<br>
    name: {{user.displayName}}<br>
    email: {{user.email}}<br>
</p>

<p>In this page, Carolyn will be able to interact directly with the database.</p>

<a href="/logout">Log out here</a>