<!-- <div>

{{#if user}}
  <p>By the way, you are logged in as {{user.username}}</p>
  <p>You have access to everything!</p>
  <p><a href="/logout">Logout here</a></p>
{{else}}
  <p>By the way, you're totes not logged in.</p>
  <p>You should not be able to access the admin page unless you've logged in.</p>
  <p>Current credentials: "carolyn" and "savingmarriage"</p>
{{/if}}

</div> -->

<div class="parallax-container">
  <div class="parallax"><img src="/images/cupcakes.jpg"></div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">About Us</h1>
        <hr class="divider">
        <p>At Love in My Tummy Artisan Sweets, we use only the finest, freshest ingredients we can find to
          create out of this world recipes that are full of flavour, and fun!</p><br>

        <p>Using natural ingredients and avoiding unnecessary artificial flavouring is of the utmost
          importance
          to us. This fact is in part what makes Love in My Tummy special. Our devotion to natural,
          honest
          ingredients, and treating every order as our most important order.</p><br>

        <p>Ready for any event, our products are delicious and creative, and a perfect way to celebrate a
          special day, create a unique corporate event, or perhaps just celebrate someone special in your
          life! We work closely with each client to customize their order to their event by incorporating
          colours, images, logos and other amazing features to represent the celebrant or event. Contact
          us
          today for your special event or any single order to try Love in My Tummy for yourself. Straight
          from our oven
          to you!</p>
      </div>
    </div>
  </div>
</main>

<section>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">What we do best</h1>
        <h6 class="subtitle">STRAIGHT FROM OUR OVEN TO YOURS</h6>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/weddingCakes.png">
          </div>
          <div class="card-content">
            <h6>WEDDING CAKES</h6><br>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/weddingCakes.png">
          </div>
          <div class="card-content">
            <h6>DECORATIVE CUPCAKES</h6><br>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/weddingCakes.png">
          </div>
          <div class="card-content">
            <h6>SWEET TREATS & EVENTS</h6><br>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="socialBox">
  <h1 class="title">Send us some love</h1>
  <h6 class="subtitle">WE LOVE HEARING FROM OUR FANS</h6><br><br>
  <iframe src="https://snapwidget.com/embed/599561" class="snapwidget-widget" allowtransparency="true" frameborder="0"
    scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>

<div class="contactBox">
  <h1 class="title">Contact us today</h1>
  <h6 class="subtitle">Contact Form</h6>
</div>

<div class="contactPoints">
  <h6 class="subtitle">CONTACT POINTS i.e. email, social, etc</h6>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-6 offset-s3">
        <h6 class="subtitle">WARNING: NUT ALLERGY | All products may contain, or have come in contact with a variety of
          nuts, including but not limited to, hazelnuts, pecans, pistachios, peanuts, walnuts & almonds.</h6>
      </div>
      <hr>
      <h6 class="subtitle">© 2018 - Love in My Tummy Artisan Sweets</h6>
    </div>
  </div>
</footer>
