<div>
  <p>This is the temporary homepage of LIMT.</p>


{{#if user}}
  <p>By the way, you are logged in as {{user.username}}</p>
  <p>You have access to everything!</p>
  <p><a href="/logout">Logout here</a></p>
{{else}}
  <p>By the way, you're totes not logged in.</p>
  <p>You should not be able to access the admin page unless you've logged in.</p>
  <p>Current credentials: "carolyn" and "savingmarriage"</p>
{{/if}}

</div>