<div class="parallax-container">
  <div class="parallax"><img src="/images/cupcakes.jpg"></div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">About Us</h1>
        <hr class="divider">
        <p>At Love in My Tummy Artisan Sweets, we use only the finest, freshest ingredients we can find to
          create out of this world recipes that are full of flavour, and fun!</p><br>

        <p>Using natural ingredients and avoiding unnecessary artificial flavouring is of the utmost
          importance
          to us. This fact is in part what makes Love in My Tummy special. Our devotion to natural,
          honest
          ingredients, and treating every order as our most important order.</p><br>

        <p>Ready for any event, our products are delicious and creative, and a perfect way to celebrate a
          special day, create a unique corporate event, or perhaps just celebrate someone special in your
          life! We work closely with each client to customize their order to their event by incorporating
          colours, images, logos and other amazing features to represent the celebrant or event. Contact
          us
          today for your special event or any single order to try Love in My Tummy for yourself. Straight
          from our oven
          to you!</p>
      </div>
    </div>
  </div>
</main>

<section>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">What we do best</h1>
        <h6 class="subtitle">STRAIGHT FROM OUR OVEN TO YOURS</h6>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/weddingCakes.png">
          </div>
          <div class="card-content">
            <h6>WEDDING CAKES & FAVOURS</h6><br>
            <p>Your special day, deserves special sweets and treats. From wedding cake, to delicious cupcakes,
              scrumptious cake-pops, or adorable guest favours, we have a full range of options.</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Learn More</a>

            <div id="modal1" class="modal">
              <div class="modal-content">
                <img class="responsive-img" src="/images/weddingCakes_banner.png">
                <br><br>
                <h4>Wedding Cakes and Favours</h4>
                <p>Your special day, deserves special sweets and treats. From wedding cake, to delicious cupcakes,
                  scrumptious cake-pops, or adorable guest favours, we have a full range of wedding specific offerings
                  that will cap off perfectly your day. Our consultant will walk you through a fantastic menu of
                  wedding options and ideas, as well as ensure our treats, match your event as much as possible, while
                  making sure you get the best flavour and freshest ingredients in the industry.</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/decorativeCupcake.png">
          </div>
          <div class="card-content">
            <h6>DECORATIVE CUPCAKES</h6><br>
            <p>The classic cupcake done right. Our decorative cupcakes are perfect for any occasion, any event, even
              just a regular weeknight when you have a craving! Rose cupcakes for as special love?</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Learn More</a>

            <div id="modal2" class="modal">
              <div class="modal-content">
                <img class="responsive-img" src="/images/decorativeCupcakes_banner.png">
                <br><br>
                <h4>Decorative Cupcakes</h4>
                <p>The classic cupcake done right. Our decorative cupcakes are perfect for any occasion, any event,
                  even just a regular weeknight when you have a craving! Rose cupcakes for as special love? Superhero
                  cupcakes for that comic book fan in your life? Easter bunnies, for that spring dinner? Decorative
                  cupcakes can add that extra special fun to your dessert! With our unparalleled flavour profiles, and
                  cute and clever designs, we can create something to put a smile on anyone’s face!</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/sweetTable.png">
          </div>
          <div class="card-content">
            <h6>SWEET TABLES & EVENTS</h6><br>
            <p>A special event deserves a special feature, and we offer the perfect combination of fun and flavour! Our
              sweet tables offer a huge variety of hand-made treats!</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Learn More</a>

            <div id="modal3" class="modal">
              <div class="modal-content">
                <img class="responsive-img" src="/images/sweetTable_banner.png">
                <br><br>
                <h4>Sweet Tables & Events</h4>
                <p>A special event deserves a special feature, and we offer the perfect combination of fun and flavour!
                  Our sweet tables consist of a broad variety of our select hand-made treats, matched to your party’s
                  theme perfectly. Weddings, birthday parties, retirement events and more, with our broad knowledge and
                  amazing menu! As we like to say, your imagination is our creation!</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="socialBox">
  <h1 class="title">Send us some love</h1>
  <h6 class="subtitle">WE LOVE HEARING FROM OUR FANS</h6><br><br>
  <iframe src="https://snapwidget.com/embed/599561" class="snapwidget-widget" allowtransparency="true" frameborder="0"
    scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>