<div class="parallax-container">
	<div class="parallax"><img src="/images/adminHeader.jpeg"></div>
</div>

<div class="loginBox">
	<div class="container">
		<div class="row">
			<div class="col s6 offset-s3">
				<h2>Log into the Administration Panel</h2>

				<form action="/login" method="post">
					<div class="col s12">
						<label>Username:</label>
						<input type="text" name="username" /><br />
					</div>
					<div class="col s12">
						<label>Password:</label>
						<input type="password" name="password" />
					</div>
					<div class="center-align">
						<input type="submit" value="Submit" />
					</div>
				</form>

			</div>
		</div>
	</div>
</div>