<div class="parallax-container">
  <div class="parallax"><img src="/images/fullsweetTable.jpeg"></div>
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">Our Menu</h1>
        <hr class="divider">
        <p>Welcome to Love in My Tummy Artisan Sweets. Below you'll find a sample of our custom collection of gourmet
          hand-made sweets. Feel free to peruse our menu, to give you inspiration for your event order!</p>
      </div>
    </div>
  </div>
</main>

<section class="primaryMenuRow">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">Cakes</h1>
        <h5 class="subtitle">Cakes, Cupcakes, and Cake-Pops</h5>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_cakes.png">
          </div>
          <div class="card-content">
            <h6>CAKES</h6><br>
            <p>Layers upon layers of cake deliciousness! Beautiful fresh flavours, with hand-made decorations, all
              designed to bring taste and beauty to any occasion. Even just a Monday.</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_cupcakes.png">
          </div>
          <div class="card-content">
            <h6>CUPCAKES</h6><br>
            <p>Think a cupcake is simple? Not when it's done right! These gourmet treats may be a bit smaller than
              their layered brothers, but they are packed with fresh flavour!</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_cakes.png">
          </div>
          <div class="card-content">
            <h6>CAKE-POPS</h6><br>
            <p>A sweet outer layer of chocolate, covering moist and creamy cake insides, absolutely bursting with yummy
              goodness for your tummy!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="altMenuRow">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">Chocolate</h1>
        <h5 class="subtitle">Truffles, Filled, and Bars</h5>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_truffles.png">
          </div>
          <div class="card-content">
            <h6>TRUFFLES</h6><br>
            <p>Imagine a small ball of the world's best chocolate, covered in beautiful accent flavours, and in
              stunning decor.</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_filled.png">
          </div>
          <div class="card-content">
            <h6>FILLED</h6><br>
            <p>Hard outer chocolate shell, filled with an amazing soft ganache core, sometimes with a hidden treat
              inside. Hard to imagine? Even harder to resist!</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_chocbars.png">
          </div>
          <div class="card-content">
            <h6>CHOCOLATE BARS</h6><br>
            <p>The world's best chocolate, BAR none. Beautiful designs, amazing toppings, perfect, creamy chocolate to
              die for.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="primaryMenuRow">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">Cookies</h1>
        <h5 class="subtitle">Traditional, Drop, and Stuffed Cookies</h5>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_cookies.png">
          </div>
          <div class="card-content">
            <h6>TRADITIONAL</h6><br>
            <p>Imagine a small ball of the world's best chocolate, covered in beautiful accent flavours, and in
              stunning decor.</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_dropcookies.png">
          </div>
          <div class="card-content">
            <h6>DROP</h6><br>
            <p>Hard outer chocolate shell, filled with an amazing soft ganache core, sometimes with a hidden treat
              inside. Hard to imagine? Even harder to resist!</p>
          </div>
        </div>
      </div>

      <div class="col l4 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/menu_stuffed.png">
          </div>
          <div class="card-content">
            <h6>STUFFED</h6><br>
            <p>The world's best chocolate, BAR none. Beautiful designs, amazing toppings, perfect, creamy chocolate to
              die for.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="primaryMenuRow">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h1 class="title">Sweet Table</h1>
        <h5 class="subtitle">THE BEST OF IT ALL!</h5>
        <hr class="divider">
      </div>
    </div>

    <div class="row">
      <div class="col l12 m12 s12">
        <div class="card">
          <div class="card-image">
            <img src="/images/sweetTable_banner.png">
          </div>
          <div class="card-content">
            <h6>SWEET TABLES</h6><br>
            <p>A custom made mix-and-match to your event. Colours, flavours, and more can be built from our entire
              menu, and even OFF-menu, if you have something that you're looking for that inspires us! The world is
              your oyster, as the saying goes... As WE like to say, in our kitchen, your imagination is our creation!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="socialBox">
  <h1 class="title">Send us some love</h1>
  <h6 class="subtitle">WE LOVE HEARING FROM OUR FANS</h6><br><br>
  <iframe src="https://snapwidget.com/embed/599561" class="snapwidget-widget" allowtransparency="true" frameborder="0"
    scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>